*{
margin:0;
font-family:"Inter";
}

body{
background-color:#F9F9F9;
}

/* MENU SUPERIOR */

#menusuperior{

background-color:#303030;
color:white;

padding-top:80px;
padding-bottom:80px;
padding-left:120px;

}

#titulo-menusuperior{

font-size:40px;

}

#texto-menusuperior{

margin-top:20px;
font-size:18px;

}


/* MENU INFORMACIONAL */

#menuinformacional{

background-color:white;

display:flex;
justify-content:center;
align-items:center;

gap:100px;

padding:40px;

}

.informacao{

text-align:center;

}

.informacao h2{

font-size:30px;

}


/* SEÇÃO SOBRE */

#secaovideo{

display:flex;
justify-content:center;
align-items:center;

gap:60px;

padding:80px;

}

#video{

width:400px;
border-radius:10px;

}

#titulovideo{

font-size:28px;
margin-bottom:20px;

}

#textovideo{

font-size:16px;
line-height:1.6;

}


/* FORMULARIO */

#formulario{

background-color:#303030;

text-align:center;

padding:80px;

}

#titulo-formulario{

font-size:25px;
color:white;

}

input{

width:300px;
height:40px;

background-color:#eaece5;

margin:15px;

border:0px;
border-radius:5px;

padding-left:10px;

}

button{

background-color:#C07212;

height:40px;
width:250px;

color:white;

border:0px;
border-radius:5px;

margin-bottom:50px;

font-weight:bolder;

cursor:pointer;

}

button:hover{

transform: translateY(-5px);

transition-duration:0.3s;

}